<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
    <nav class="navbar bg-light navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
            <h3 class="text-primary">TMS</h3>
        </a>
        <div class="navbar-nav w-100">
            <a [routerLink]="['../']" class="nav-item nav-link active"><i class="fa fa-home"
                    aria-hidden="true"></i>Home</a>
        </div>
    </nav>
</div>
<!-- Sidebar End -->

<!-- Content Start -->
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
        <a class="sidebar-toggler flex-shrink-0" (click)="toggle()">
            <i class="fa fa-bars"></i>
        </a>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item">
                <!-- <a href="#" class="d-none d-lg-inline-flex"> -->
                    <a routerLink = "/Login"><i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Login</a>
                <!-- </a> -->
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <section>
        <h2 class="pt-4 px-4">Home</h2>
    </section>

    <div class="container px-4 pt-2 pb-2">
        <div class="row">
            <div class="col-md-12">
                <div class="p-4 d-flex justify-content-around ">
                    <img src="./assets/img/b1.jpg" id="img" class="" alt="Home Page">
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <p class="text-center">Imagine being able to manage your entire training business from one central hub. In
            reality, this is totally achievable — instead of stitching together a patchwork system of programmes to
            manage different tasks, a TMS offers one unified solution.Gone are the days of manually inputting the same
            data across multiple platforms — time and time again; a
            training management software allows you to schedule courses and presenters, track payments and business
            growth, and provide relevant marketing, all under one roof. Having one software as top dog means your
            data stays fresh and responsive to changes made in real-time, plus automating manual processes like the
            ones listed above is seamless and stress-free as all aspects are already connected and in sync with one
            another.Time saved on administration can be spent on transforming your training business. With a TMS at the
            core of your operations, you can gain valuable insights that give you the edge over your competitors.
        </p>
    </div>
</div>