
<!-- Content Start -->
<div class="content">
    <app-sidebar></app-sidebar>
    <div class="Bread pt-1 px-1">
      <body>
          <!-- Breadcrums Start -->
          <div style="margin:20px;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a [routerLink]="['../Home']">Home</a>
                    </li>
                    <li class="breadcrumb-item ">
                        <a [routerLink]="['../Departmentlist']">Department List</a>
                    </li>
                    <li class="breadcrumb-item active">Add Department</li>
                </ol>
            </nav>
        </div>
      </body>
    </div>
    
      <div class="col-sm-6 p-4">
        <form action="" #ngForm (ngSubmit)="OnSubmit()">
          <h3 class="text-black pb-2">Add Department</h3> 
            <div class="form-floating mb-4">
                <input type="text" class="form-control" id="floatingText" placeholder="jhondoe" name = "name" [(ngModel)]="department.name" >
                <label for="floatingText">Department</label>
            </div>
            
             <a><button type="submit" class="btn btn-dark pe-4 px-4">Add</button></a>
            </form>
      </div>  
    
       <!-- Footer Start -->
       <app-footer></app-footer>
    <!-- Footer End -->
    

<!-- Content Start 
<div class="content">
    <app-sidebar></app-sidebar>
    <div class="Bread pt-1 px-1">

        <body>
           
            <div style="margin:20px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="['../Home']">Home</a>
                        </li>
                        <li class="breadcrumb-item ">
                            <a [routerLink]="['../Departmentlist']">Department List</a>
                        </li>
                        <li class="breadcrumb-item active">Add Department</li>
                    </ol>
                </nav>
            </div>
        </body>
    </div>

    <div class="col-sm-6 p-4">
        <form action="" #ngForm (ngSubmit)="OnSubmit()">
            <h3 class="text-black pb-2">Add Department</h3> 
              <div class="form-floating mb-4">
                  <input type="text" class="form-control" id="floatingText" placeholder="jhondoe" name = "name" [(ngModel)]="department.name" >
                  <label for="floatingText">Department</label>
              </div>
              <a [routerLink]="['../Departmentlist']"><button type="submit" class="btn btn-dark pe-4 px-4">Add</button></a>
              </form>
    </div>

    Footer Start 
    <app-footer></app-footer>
     Footer End -->