<div class="content">
    <app-sidebar></app-sidebar>
    <div class="Bread pt-1 px-1">

        <body>
            <!-- Breadcrums Start -->
            <div style="margin:20px;">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="headhome.html">Home</a>
                        </li>
                        <li class="breadcrumb-item ">
                            <a href="COOR-Courselist.html">Course List</a>
                        </li>
                        <li class="breadcrumb-item active">Add Course</li>
                    </ol>
                </nav>
            </div>
        </body>
    </div>
    <div class="container-fluid p-4">
        <form action="" #ngForm (ngSubmit)="OnSubmit()">
            <div class="form-floating mb-4">
                <h4 class="text-black pb-2">Create Course</h4>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="floatingText" name="name" [(ngModel)]="Course.name" />
                    <label for="floatingText">Course Name</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="floatingText" name="description"
                        [(ngModel)]="Course.description" />
                    <label for="floatingInput">Description</label>
                </div>
                <div class="form-floating mb-4">
                    <input type="text" class="form-control" id="floatingText" name="duration"
                        [(ngModel)]="Course.duration" />
                    <label for="floatingInput">Duration</label>
                </div>
                <select class="form-select form-select-lg mb-5" area-label="default select example" name="departmentId"
                    [(ngModel)]="Course.departmentId">
                    <option value="Department" disable selected>
                        Department
                    </option>
                    <option *ngFor="let dept of department" value="{{dept.id}}">
                        {{dept.name}}
                    </option>
                </select>


                <select class="form-select form-select-lg mb-5" area-label="default select example">
                    <option value="Department" disable selected>
                        Trainer
                    </option>
                    <option *ngFor="let trainr of trainer" value="{{trainr.id}}">
                        {{trainr.userName}}
                    </option>
                </select>

                <a href=""><button type="submit" class="btn btn-dark pe-4 px-4">Save</button></a>

                <!-- <a href=""><button type="submit" class="btn btn-dark pe-4 px-4">Add Topic</button></a> -->
            </div>
        </form>
        <app-footer></app-footer>
    </div>
</div>