<!-- <select class="form-select form-select-lg mb-5" area-label="default select example">
    <option value="Department" disable selected>
        Department
    </option>
    <option *ngFor="let dept of Department" value="{{dept.id}}">
        {{dept.name}}
    </option>
</select> -->
<div class="container-fluid" >
    <div class="col-sm-12 col-xl-12 ">
        <div class=" rounded">
            <select class="form-select" aria-label="Default select example">
                <option selected>Sort by Department</option>
                <option value="1">.Net</option>
                <option value="2">Java</option>
                <option value="3">BFS</option>
                <option value="3">IAS</option>
                <option value="3">EBA</option>
            </select>
        </div>
    </div>
</div>